.hf__items {
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.hf__items::-webkit-scrollbar {
  display: none;
}

.hf__item {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.hf__item:hover {
  transform: scale(1.08);
  opacity: 1;
}
